:root {
  --nav-color: #45A29E;
  --light-blue-text-color: #44abff;
  --dark-blue-text-color: #344861;
  --new-num: #0072e3;
  --text-color: #f6f8fb;
  --selected-main-color: #bbdefb;
  --selected-related-color: #c3d7ea;
  --visible-cells: #e2ebf3;
  --red-text: #e55c6c;
  --red-visible-cells: #f7cfd6;
  --bg-color: #181a1b;
}

body {
  background-color: var(--bg-color);
  font-family: 'Source Sans 3', sans-serif;
  color: var(--text-color);
}

.navbar {
  margin-bottom: 30px;
  background-color: var(--dark-blue-text-color);
}
.navbar .navbar-brand {
    font-weight: 400;
    font-size: 2rem;
}


.container-xxl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}


.header {
  display: flex;
  width: 100%;
  /* margin-bottom: 10px; */
}
.difficulty {
  display: flex;
  width: 50%;
  gap: 20px;
  justify-content: end;
  font-size: 1.5rem;
}
.difficulty-btn {
  background: none;
  border: none;
  color: var(--text-color);
  border-bottom: 3px solid transparent;
}
.difficulty-btn:hover,
.difficulty-btn.active {
  border-bottom: 3px solid var(--dark-blue-text-color);
}

.stats {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  gap: 60px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.mistakes {
  margin-top: 10px;
}
.timer {
  display: flex;
}
#timer {
  margin-top: 10px;
  margin-right: 10px;
}
.timer button {
  background: none;
  border: 2px solid var(--dark-blue-text-color);
  border-radius: 20%;
}
.timer button:hover {
  background-color: var(--dark-blue-text-color);
}
.timer img {
  filter: invert();
}







.top-section {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: max(100px, 600px);
  aspect-ratio: auto 1 / 1;
  background-color: white;
  border: 6px solid var(--dark-blue-text-color);
}
#unpauseButton {
  border: none;
}


* {
  border: 1px solid red;
}



.cell {
  border: 1px solid var(--dark-blue-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--new-num);
  font-size: 2rem;
}
.cell.invalid {
  color: var(--red-text);
}
.cell.selected.selected-main,
.cell.same-value {
  background-color: var(--selected-main-color);
}
.cell.selected-related:not(.selected-main):not(.selected) {
  background-color: var(--visible-cells);
}



.numpad {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
}
.numpad-row {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
  width: 100%;
  column-gap: 10px;
}
.num-btn {
  color: var(--text-color);
  font-size: 3rem;
  width: 100%;
  border: 2px solid var(--dark-blue-text-color);
  background: none;
  border-radius: 10px;
}
.num-btn:hover {
  background-color: var(--dark-blue-text-color);
}
.btns button {
  color: var(--text-color);
  font-size: 3rem;
  width: 100%;
  margin: 10px auto;
  border: 2px solid var(--dark-blue-text-color);
  background: none;
  border-radius: 10px;
}
.btns button:hover {
  background-color: var(--dark-blue-text-color);
}


.box[data-filled="true"] {
  transition: 1s ease-in-out;
  box-shadow: 0px 0px 73px 4px var(--light-blue-text-color); /* Initial box shadow */
}
.cell[data-locked="true"] {
  color: var(--dark-blue-text-color);
}



.instructions-container {
  padding-top: 20px;
  width: 80%;
  font-size: 1.4rem;
}
.instructions-container h1 {
  padding-left: 20px;
  border-bottom: 3px solid var(--dark-blue-text-color);
}

